body{
	font-family: 'Roboto', sans-serif;
}
.container{
	background-color: #E7EBF2;
	height: 350px;
	width: 570px;
	-moz-box-shadow: 4px 4px 15px #616161;
	-webkit-box-shadow: 4px 4px 15px #616161;
	box-shadow: 4px 5px 15px #6b6b6b;
}
.post{
	background-color: #FFFFFF;
	height: 100px;
	border-top: solid 1px #D2D9E7;
	border-radius: 5px 0px 0px 0px;
}
.actions{
	background-color: #EDEFF4;
	height: 20px;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
	border-bottom: solid 2px #FFFFFF;
}
.likes{
	background-color: #EDEFF4;
	height: 20px;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
	border-bottom: solid 2px #FFFFFF;
}
.comment{
	background-color: #EDEFF4;
	height: 40px;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
	border-bottom: solid 2px #FFFFFF;
}
.commentInput{
	background-color: #EDEFF4;
	height: 40px;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
	border-bottom: solid 2px #FFFFFF;
}
.postInfo{
	background-color: #FFFFFF;
	height: 30px;
}