body{
	font-family: 'Roboto', sans-serif;
}
a{
	color: #3F5195;
	text-decoration: none;
}
.container{
	background-color: #E7EBF2;
	height: 350px;
	width: 570px;
	-moz-box-shadow: 4px 4px 15px #616161;
	-webkit-box-shadow: 4px 4px 15px #616161;
	box-shadow: 4px 5px 15px #6b6b6b;
}
.post{
	background-color: #FFFFFF;
	height: 90px;
	border-top: solid 2px #c1cbde;
	border-radius: 5px 5px 0px 0px;
	padding: 15px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.posterInfo{
	display: flex;
	align-items: center;
}
.postTime{
	display: flex;
	align-items: center;
}
.columnWrapper{
	flex-direction: column;
}
.box{
	float: right;
}
.line{
	border: solid 1px #c7c7c7;
}
.actions{
	background-color: #EDEFF4;
	height: 20px;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
	border-bottom: solid 2px #FFFFFF;
}
.likes{
	background-color: #EDEFF4;
	height: 20px;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
	border-bottom: solid 2px #FFFFFF;
}
.comment{
	background-color: #EDEFF4;
	height: 40px;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
	border-bottom: solid 2px #FFFFFF;
	display: flex;
	align-items: center;
}
.comment__name{
	font-size: 10px;
}
.comment__actions{
	font-size: 10px;
	color: #808080;
	display: flex;
	align-items: center;
}
.commentInput{
	background-color: #EDEFF4;
	height: 40px;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
	border-bottom: solid 2px #FFFFFF;
	display: flex;
	align-items: center;
}
.commentInput__field{
	width: 500px;
	height: 15px;
	font-family: 'Roboto', sans-serif;
	border: solid 2px #c1cbde;
	outline: 0;
}
::-webkit-input-placeholder{
	color: #808080;
	font-size: 9px;
}
.postInfo{
	background-color: #FFFFFF;
	height: 30px;
	border-bottom: solid 2px #c1cbde;
	border-radius: 0px 0px 5px 5px;
}