.font-small{
	font-size: 10px;
}
.font-grey{
	color: #808080;
}
.left-indent{
	padding-left: 10px;
}
.left-indent-sm{
	margin-left: 7px;
}
.space{
	margin-right: 3px;
}
.right-indent{
	margin-right: 10px;
}